<header class="header">
    <button
        type="button"
        class="create-note-button primary-button"
        (click)="createNote()">
        Create note

        <em class="fas fa-plus"></em>
    </button>

    <div class="position-relative">
        <input
            placeholder="Search"
            type="text"
            class="search-input"
            [formControl]="searchControl">
        <em class="fas fa-search"></em>
    </div>
</header>

<div class="actions-container">
    <div>
        <button
            (click)="activeImportInput()"
            class="primary-button small">
            Import
        </button>
        <input #importInput accept=".json" class="d-none" type="file" (change)="importNotes($event)">

        <button
            [disabled]="!store.notes?.length"
            (click)="exportNotes()"
            class="primary-button small">
            Export
        </button>
    </div>
    <div>
        <span class="description">
            Sort by the note most recent edit
        </span>
        <button
            (click)="sortByUpdate()"
            class="unstyled-button">
            <i class="fas fa-sort"></i>
        </button>
    </div>
</div>

<ul class="unstyled-list list">
    <li *ngFor="let note of store.notes | filterNote : searchControl.value" class="item">
        <button
            (click)="openNote(note)"
            type="button"
            class="note-button">
            <div class="title">{{ note.title }}</div>

            <div class="last-update">{{ note.lastUpdate }}</div>
        </button>
        <button
            (click)="removeNote(note)"
            class="unstyled-button trash-button">
            <em class="fas fa-trash-alt"></em>
        </button>
    </li>
</ul>
