<header class="header">
    <button
        type="button"
        class="create-note-button"
        (click)="createNote()">
        Create note

        <em class="fas fa-plus"></em>
    </button>

    <div class="position-relative">
        <input
            placeholder="Search"
            type="text"
            class="search-input"
            [formControl]="searchControl">
        <em class="fas fa-search"></em>
    </div>

    <ul class="unstyled-list operations">
        <li class="operator">
            
        </li>
    </ul>
</header>

<ul class="unstyled-list list">
    <li *ngFor="let note of store.notes | filterNote : searchControl.value" class="item">
        <button
            (click)="openNote(note)"
            type="button"
            class="note-button">
            <div class="title">{{ note.title }}</div>

            <div class="last-update">{{ note.lastUpdate }}</div>
        </button>
        <button
            (click)="removeNote(note)"
            class="unstyled-button trash-button">
            <em class="fas fa-trash-alt"></em>
        </button>
    </li>
</ul>
