<div class="aside">
    <app-aside
        (openedNote)="openNote($event)"
        (createdNote)="createNote()"
        (removedNote)="removeNote($event)">
    </app-aside>
</div>

<div class="main">
    <ng-container *ngIf="currentNote; else noNote">
        <app-main
            [note]="currentNote">
        </app-main>
    </ng-container>
    
    <ng-template #noNote>
        <div class="no-note">
            <div class="text-center">
                <em class="far fa-edit icon"></em>
                <h1 class="page-title">Create or select a note to start</h1>
            </div>
        </div>
    </ng-template>
</div>

