$aside-width: 350px;

:host {
    min-height: 100vh;
    display: flex;
    align-items: stretch;
}

.aside,
.main {
    display: inline-block;
}

.main {
    width: calc(100% - #{$aside-width});
}

.aside {
    width: $aside-width;
}